/* Generic */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin:0; 
    padding:0;
}

/* Map Specific */

div#mymap {
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%;
}